asgiref
beautifulsoup4==4.12.3
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography
Django
django-allauth
django-environ>=0.9.0
forex-python
gunicorn>=20.1.0
django-allauth>=0.51.0
django-cors-headers>=3.13.0
django-countries>=7.2
django-environ==0.11.2
django-requests==0.0.2
django-phonenumber-field>=5.0.0
django-mptt>=0.13.4
django-tinymce>=3.4.0
idna==3.10
Pillow
pycparser==2.22
python-decouple==3.8
PyJWT
python-dotenv>=1.0.0
pytz
phonenumbers
requests
requests-oauthlib>=1.3.1
soupsieve==2.6
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
whitenoise
