asgiref
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
dj-rest-auth
django-filter
django-postgres-extra
django-timezone-field
django_celery_results
djangorestframework
djangorestframework_simplejwt
drf-spectacular
Django
django-environ
forex-python
gunicorn
django-allauth
django-cors-headers
django-countries
django-environ
django-requests
django-phonenumber-field
django-mptt
django-tinymce
idna
Pillow
pycparser
python-decouple
PyJWT
python-dotenv
pytz
phonenumbers
requests
requests-oauthlib
soupsieve
sqlparse
typing_extensions
urllib3
whitenoise
