Django>=4.2,<5.0
django-environ>=0.9.0
python-dotenv>=1.0.0
gunicorn>=20.1.0
django-allauth>=0.51.0
django-cors-headers>=3.13.0
django-countries>=7.2
django-phonenumber-field>=5.0.0
django-mptt>=0.13.4
django-tinymce>=3.4.0
