<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Login</title>
    <link rel="stylesheet" href="../static/account/css/forms.css">
    <link rel="stylesheet" href="../static/core/css/variables.css">
    <link rel="stylesheet" href="../static/core/css/iconStyles.css">
    <link rel="stylesheet" href="../static/core/css/forms.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="../static/core/image/Icon.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="topSection">
            <a href="/dashboard/" class="back">&larr; Go Back</a>
            <a href="/">
                <img src="../static/core/image/logo.png" alt="logo" class="logo">
            </a>
        </div>
        <div class="formHeader">
            <h1>Bills</h1>
        </div>
        <form class="coloredText">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate culpa consequuntur aliquam animi earum odio soluta deserunt saepe repellendus! Blanditiis voluptates aliquid, suscipit incidunt nihil explicabo dolore aperiam vitae eum!
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id velit deserunt consequuntur ratione debitis doloribus excepturi eum? Voluptates sint ullam magnam quasi expedita non illo cupiditate unde laboriosam inventore aliquam sequi nam dolores odit animi ea recusandae corporis, consequuntur, ipsum hic quod reprehenderit iure porro placeat. Assumenda esse iste rerum, adipisci perspiciatis exercitationem, in accusantium sunt labore, saepe reprehenderit corporis aliquid nulla eum consequatur aliquam architecto numquam maiores. Ullam, optio! Nostrum necessitatibus commodi animi enim fuga. Distinctio iste, culpa ipsam delectus nesciunt laborum fugiat quis temporibus exercitationem, consectetur, amet tenetur voluptatibus eius voluptates sed commodi ullam cum error repellendus ipsa?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio exercitationem commodi tenetur voluptate, quibusdam earum amet ipsa distinctio nesciunt ipsam nisi ex praesentium tempore animi. Quasi hic labore id vitae.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit illo sequi praesentium sapiente eos ad quos quaerat, cupiditate minima fugiat sint quo non! Voluptatem repudiandae voluptatibus architecto adipisci odio vel sed optio. Incidunt rerum excepturi laboriosam corrupti deserunt suscipit consequuntur fugit libero fuga vel ex cupiditate ducimus consequatur voluptate quis eligendi veritatis tenetur maxime, numquam dolor facilis voluptatibus harum, nobis aut. Repellat, officia laborum. Excepturi ea quos quibusdam culpa! Harum.
            </p>
        </form>
    </div>
</body>
</html>