{% extends "../formBase.html" %}
{% load static %}
{% block title %}{{ legal.name }}{% endblock%}
{% block content %}
    <link rel="stylesheet" href="{% static 'core/assests/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'core/assests/remixicon/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'core/assests/boxicons/css/boxicons.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/notification.css' %}">
    <div class="container socialSignIn">
        <div class="topSection">
            <a href="/dashboard/" class="back">&larr; Go Back</a>
            <a href="/">
                <img src="{% static 'core/image/logo.png' %}" alt="logo" class="logo">
            </a>
        </div>
        <div class="formHeader">
            <h1>{{ legal.name }}</h1>
        </div>

        <form class="coloredText">
            {{ legal.content|safe }}
        </form>
    </div>
{% endblock %}