*{
    /* background-color: var(--darkBlue); */
    font-family: var(--font-family);
    color: rgb(196, 196, 201);
}

body{
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to right bottom, var(--darkBlue), var(--lightBlue), var(--darkBlue));
}

.container{
    width: 95dvw;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: none;
}

.grid-container{
    width: 100%;
    height: fit-content;
    margin: auto auto 3rem;
    padding: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(clamp(3.5rem, 15vw, 15rem), 1fr));
    justify-content: center;
    align-items: center;
}

.grid-item{
    width: 100%;
    padding: 0.7rem 0;
    height: 15rem;
    box-sizing: border-box;
    text-decoration: none;
    background-color: var(--darkBlue);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5rem, 3vw, 1.3rem);
}

.grid-item::after{
    content: '';
    position: absolute;
    width: 107%;
    height: 109%;
    border-radius: 5px;
    background: linear-gradient(to bottom right, var(--orange), var(--yellow));
    z-index: -1;
}

.grid-item:hover{
    z-index: 0;
    width: 107%;
    height: 6rem;
    box-shadow: 40px 0 100px var(--yellow), -40px 0 100px var(--orange);
}

.grid-item div{
    width: 97%;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.grid-item div span{
    text-wrap: auto;
}

.grid-item i{
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    body{
        height: fit-content !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and ( width <= 600px) {

    .firstSection h2 span{
        display: block;
    }


}