@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope'
}

body {
    width: 100dvw;
    height: fit-content;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    overflow-x: hidden;
}



.container {
    max-width: 100dvw;
    margin: 0;
}

/* Header styles */
header {
    width: 100dvw;
    margin: 0;
    height: fit-content;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

a{
    color: #333;
}

.header-content {
    width: 96%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

nav a.active {
    color: #007bff;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
    padding-bottom: 12px;
}

.user-menu {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.user-menu  a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-menu-mobile{
    display: none;
}

.profile-dropdown{
    display: none;
}

.user-menu a {
    text-decoration: none;
    border-radius: 5px;
}

.user-menu a.sign {
    text-decoration: none;
    color:  #007bff;
    margin-right: 10px;
    border: 2px solid #007bff;
    padding: 10px 15px;
    border-radius: 5px;
}

.user-menu a.help {
    color: #ffffff;
    font-weight: bold;
    background-color: #007bff;
    padding: 10px 25px;
}

.user-menu a i {
    margin-right: 10px;
    font-size: 1.2rem;
}

/* Footer styles */
footer {
    width: 100dvw;
    margin: 0;
    background-color: #333;
    color: #fff;
    padding: 3rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    width: 95dvw;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.top, .bottom{
    width: 100%;
    display: flex;
}

footer .right{
    width: 77%;
    margin-left: 1rem;
}

.footer-logo {
    width: 20%;
}

.footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-content h4 {
    margin-bottom: 1rem;
}

.footer-content ul {
    list-style: none;
}

.footer-content ul li {
    margin-bottom: 0.5rem;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.social-media{
    width: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.social-media a {
    margin-right: 1rem;
}

.footer-bottom {
    margin-top: 2rem;
    text-align: center;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
}


@media (max-width: 768px){
    /* Reset default styles */
    body {
        background-color: #171A1FFF;
    }

    /* Header styles */
    
    .header-content{
        border-radius: 0;
        position: relative;
    }
    .right {
        width: 30%;
    }

    .logo {
        width: 90%;
        margin-left: 0.5rem;
    }
    
    .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    nav{
        display: none; 
     }

     .accordion_menu a{
        text-decoration: none;
        overflow-y: scroll !important;
     }


    .user-menu {
        display: none;
    }

    .user-menu-mobile {
        width: 100dvw;
        height: fit-content;
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        background-color: #fff;
        right: -5%;
        top: 40px;
        z-index: 100;
        box-shadow: #333;
        display: none;
    }

    .profile-dropdown{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .profile-dropdown img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .user-menu-mobile a {
        width: 100%;
        text-decoration: none;
        margin-bottom: 20px;
        padding: 20px 15px 10px;
        border-bottom: 1px solid black;
        font-size: 1.5rem;
        color: #171A1FFF;
    }

    .user-menu-mobile a i {
        margin-right: 10px;
        font-size: 1.2rem;
    }

    
    .transaction-summary{
        width: 97%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
    }

    .transaction-summary h2{
        font-size: 24px;
        color: #ddd;
    }

    .transaction-summary p{
        font-size: 16px;
        margin-bottom: 20px;
        color: #ddd;
    }

    .transaction-summary .summary-item{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        border-top: 1px solid #ddd;
    }
    
    .transaction-summary .summary-item h4,
    .transaction-summary .summary-item span{
        color: #ddd;
    }

    .footer-logo {
        width: 40%;
    }
    
    .footer-logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    footer .right{
        width: 100%;
        margin-left: 1rem;
    }

    .top{
        flex-direction: column;
    }
    
    .bottom{
        height: 15dvh !important;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }

    .social-media{
        top: 0;
        right: 40%;
    }
}
