{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/validateGiftcard.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/iconStyles.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'core/assests/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'core/assests/remixicon/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'core/assests/boxicons/css/boxicons.css' %}">
    <link rel="shortcut icon" href="{% static 'core/image/Icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Validate Giftcard - sheltrade</title>
    <style>
        .grid-item img{
            width: 95%;
            height: 5rem;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div class="container dashboard">
        <section class="secondSection grid-container">
            <h2>Gift Cards</h2>
            <section class="grid-item">
                <div>
                    <img src="{% static 'core/image/Icon.png' %}" alt="" >
                    <span>Wallet</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Approve</a>
                        <a href="">Reject</a>
                    </span>
                </div>
            </section>
            <section class="grid-item">
                <div>
                    <img src="{% static 'core/image/Icon.png' %}" alt="" >
                    <span>Deposit</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Approve</a>
                        <a href="">Reject</a>
                    </span>
                </div>
            </section>
            <section class="grid-item">
                <div>
                    <img src="{% static 'core/image/Icon.png' %}" alt="" >
                    <span>Withdraw</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Approve</a>
                        <a href="">Reject</a>
                    </span>
                </div>
            </section>
            <section class="grid-item">
                <div>
                    <img src="{% static 'core/image/Icon.png' %}" alt="" >
                    <span>Buy GiftCard</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Approve</a>
                        <a href="">Reject</a>
                    </span>
                </div>
            </section>
            <section class="grid-item">
                <div>
                    <img src="{% static 'core/image/Icon.png' %}" alt="" >
                    <span>Sell GiftCard</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Approve</a>
                        <a href="">Reject</a>
                    </span>
                </div>
            </section>
            <section class="grid-item">
                <div>
                    <img src="{% static 'core/image/Icon.png' %}" alt="" >
                    <span>Buy Crypto</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Approve</a>
                        <a href="">Reject</a>
                    </span>
                </div>
            </section>
            <section class="grid-item">
                <div>
                    <img src="{% static 'core/image/Icon.png' %}" alt="" >
                    <span>Sell Crypto</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Approve</a>
                        <a href="">Reject</a>
                    </span>
                </div>
            </section>
            <section class="grid-item">
                <div>
                    <img src="{% static 'core/image/Icon.png' %}" alt="" >
                    <span>Buy Airtime</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Approve</a>
                        <a href="">Reject</a>
                    </span>
                </div>
            </section>
            <section class="grid-item">
                <div>
                    <img src="{% static 'core/image/Icon.png' %}" alt="" >
                    <span>Buy Data</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Approve</a>
                        <a href="">Reject</a>
                    </span>
                </div>
            </section>
            <section class="grid-item">
                <div>
                    <img src="{% static 'core/image/Icon.png' %}" alt="" >
                    <span>Pay Bills</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Approve</a>
                        <a href="">Reject</a>
                    </span>
                </div>
            </section>
            <section class="grid-item">
                <div>
                    <img src="{% static 'core/image/Icon.png' %}" alt="" >
                    <span>Subscriptions</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Approve</a>
                        <a href="">Reject</a>
                    </span>
                </div>
            </section>
            <section class="grid-item">
                <div>
                    <img src="{% static 'core/image/Icon.png' %}" alt="" >
                    <span>Transactions</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Approve</a>
                        <a href="">Reject</a>
                    </span>
                </div>
            </section>
            <section class="grid-item">
                <div>
                    <img src="{% static 'core/image/Icon.png' %}" alt="" >
                    <span>Market Place</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Approve</a>
                        <a href="">Reject</a>
                    </span>
                </div>
            </section>
        </section>
        <section class="secondSection grid-container">
            <h2>Contact Messages</h2>
            <section class="grid-item">
                <div>
                    <span>New message from User1</span>
                    <span>
                        <a href="">Check</a>
                        <a href="">Respond</a>
                    </span>
                </div>
            </section>
        </section>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if messages %}
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            {% endif %}
        });
    </script>
</body>
</html>

