{% extends "../formBase.html" %}
{% load static %}
{% block title %}Add Account Info{% endblock%}
{% block content %}
    <div class="container socialSignIn">
        <div class="topSection">
            <a href="/dashboard/" class="back">&larr; Go Back</a>
            <a href="/">
                <img src="{% static 'core/image/logo.png' %}" alt="logo" class="logo">
            </a>
        </div>
        <div class="formHeader">
            <h1>Add Account Info</h1>
        </div>
        <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            {% for message in messages %}
                <h5>{{ message }}</h5>
            {% endfor %}
            <div class="form-group">
                <h3>Bank Account Information</h3>
                <p>Add Your account Info below</p>
            </div>
            <div class="form-group">
                <label for="accountName" class="form-label">Account Name</label>
                <input type="text" name="accountName" class="form-control" id="accountName" required>
            </div>
        
            <div class="form-group">
                <label for="accountNumber" class="form-label">Account Number</label>
                <input type="text" name="accountNumber" class="form-control" id="accountNumber" required>  <!-- Corrected here -->
            </div>
        
            <div class="form-group">
                <label for="bankName" class="form-label">Bank Name</label>
                <input type="text" name="bankName" class="form-control" id="bankName" required>
            </div>
            
            <button type="submit" class="btn-primary" id="btn-primary">Add</button>
        </form>
        
    </div>
{% endblock %}
